[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "usincometaxes"]
	path = usincometaxes
	url = https://github.com/shanejorr/usincometaxes
